.container {
    margin: 0 auto;
    width: 1200px;
    height: 720px;
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 10%;
    height: 100%;
    background-color: #eeeeee;
}

.wiki-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 7%;
    background-color: #eeeeee;
}

.header {
    height: 8%;
    background-color: #f5a9b8;
}

.content-1 {
    display: flex;
    flex-direction: row;
    height: 25%;
    background-color: #99ffb4;
}

.child-1 {
    width: 55%;
    background-color: #99ffb4;
}

.child-2 {
    flex-grow: 1;
    background-color: #5bcefa;
}

.content-2 {
    height: 18%;
    background-color: #c27ba0;
}

.content-3 {
    height: 10%;
    background-color: #66fffa;
}

.content-4 {
    height: 14%;
    background-color: #ff8686;
}

.content-5 {
    flex-grow: 1;
    background-color: #ffd966;
}

.footer {
    height: 8%;
    background-color: #eeeeee;
}
